
:root {
  /* Fonts */
  --ffh: 'Roboto',   serif;
  --ff: 'Belgrano',  serif;
  --logo: 'Lobster', serif;

  /* Weights */
  --fw-h1: 600;
  --fw-h2: 600;
  --fw-h3: 900;
  --fw-h4: 900;

  /* Sizes */
  --size-1: 2rem;
  --size-2: 1.65rem;
  --size-3: 1.125rem;
  --size-4: 0.9375rem;
  --size-0: 1.1rem;
  --section-margin: 3rem;

  /* Palette */
  --bg: hsl(342 32% 92% / 1);
  --white: hsl(340 30% 96% / 1);
  --primary: hsl(205 85% 24% / 1);
  --accent: hsl(184 77% 48% / 1);
}

body {
  background: var(--bg);
  color: var(--primary);
}

h1, h2, 
h3, h4,
p, a {
  line-height: 1.2;
  letter-spacing: 0.053rem;
}

h1,h2,h3,h4 {
  text-transform: uppercase;
}

h1 {
  font-family: var(--ffh);
  font-size: var(--size-1);
  font-weight: var(--fw-h1);
}

h2 {
  font-family: var(--ffh);
  font-size: var(--size-2);
  font-weight: var(--fw-h2);
}

h3 {
  font-size: var(--size-3);
  font-family: var(--ffh);
  font-weight: var(--fw-h3);
}

h4 {
  font-size: var(--size-4);
  font-family: var(--ffh);
  font-weight: var(--fw-h4);
}

p, a, li {
  font-family: var(--ff);
  font-size: var(--size-0);
}

.wrapper {
  margin-inline: auto;
  width: min(85%);
}

.center {
  margin-inline: center;
  text-align: center;
}

.row {
  display: flex;
  flex-direction: row;
}

/* 
 * ###############################
 * #      TABLE OF CONTENTS      #
 * ############################### 
 * 1. HERO SECTION
 */

/* HERO SECTION */
section {
  margin-top: var(--section-margin);
}

.hero-section--title span {
  font-weight: 500;
}

.hero-section--content {
  margin-top: 1.2rem;
}

.hero-section--cta {
  display: block;
  margin: 2.5rem auto ;
  padding: .5em 1.3em;
  width: 80%;
  border-radius: 6rem;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
  font-weight: var(--fw-h4);
  background-color: var(--accent);
}

.summary-section {
  --skew: skew(0deg, -4deg);

  position: relative;
  overflow-x: clip;
  margin-top: 5rem;
  padding: var(--section-margin) 0;
  color: var(--white);
  isolation: isolate;
}

.summary-section::before {
  content: '';
  position: absolute;
  width: 100%;
  inset: 0;
  transform: var(--skew);
  z-index: -1;
  background-color: var(--primary);
}

.summary-section--content {
  margin-top: 2rem;
  display: flex;
}

.summary-section--content ol {
  list-style-type: lower-alpha;
  padding-left: 1.5rem;
}

.summary-section--content li ~ li {
  padding-top: .5em;
}

/* ============================== */
/* DEFINITION SECTION */
/* ============================== */
.definition-section {
  margin-top: -1rem;
  padding: 5.5rem 0 4rem 0;
  background-color: var(--white);
}

.definition-section p {
  margin-top: 1rem;
}

.definition-section img {
  margin-top: 1.7rem;
  margin-inline: auto;
}


/* ============================== */
/* CHARACTERISTICS SECTION */
/* ============================== */

.characteristics-section {
  padding-top: 1rem;
}

.characteristics-section img {
  margin-top: 2.3rem;
  margin-inline: auto;
}

.characteristics-section p:first-of-type {
  margin-top: 3rem;
}

.characteristics-section p ~ p {
  margin-top: 1.5rem;
}


/* ============================== */
/* FUNCTIONALITY SECTION */
/* ============================== */

.function-section {
  color: var(--white);
  background-color: var(--primary);
  clip-path: polygon(0 0, 100% 4.5rem, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 0, 100% 4.5rem, 100% 100%, 0 100%);
  isolation: isolate;
  position: relative;
  margin-top: 6rem;
}

.function-section--title {
  padding-top: 9rem;
}

.function-section p {
  margin-top: 1.6rem;
}

.function-section p:last-of-type {
  padding-bottom: 6rem;
}

/* ============================== */
/* PROCESS SECTION */
/* ============================== */
.process-section {
  margin-top: 0;
  padding-top: calc(var(--section-margin) + 2rem);
  background-color: var(--white);
}

.process-section article {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 1rem;
}

.process-section article:first-of-type {
  margin-top: 2.5rem;
}

.process-section article img {
  margin-left: auto;
}

.process-section article ~ article {
  margin-top: 2.3rem;
}

.process-section article:last-of-type {
  padding-bottom: 6rem;
}


/* ============================== */
/* PRINCIPLES SECTION */
/* ============================== */

.principles-section {
  padding-bottom: 4rem;
}

.principles-section--title  {
  margin-top: 4rem;
  padding-bottom: .5rem;
  position: relative;
}

.principles-section--title:before {
  content: '';
  width: 35%;
  height: 2px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  background-color: var(--accent);
}

.principles-section article {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.principles-section img {
  width: min(60%, 80px);
}

.principles-section article:first-of-type {
  margin-top: 5.2rem;
}

.principles-section article ~ article {
  margin-top: 3.5rem;
}

/* ============================== */
/* FAQ SECTION */
/* ============================== */
.faq-section {
  padding: 3.5rem 0;
  color: var(--white);
  background-color: var(--primary);
}

.faq-section a:first-of-type {
  margin-top: 1.5rem;
}

.faq-section a {
  display: block;
  position: relative;
  padding: .75em 1.5em;
  background-color: var(--accent);
  border-radius: .4rem;
  color: var(--white);
  text-decoration: none;

}

.faq-section a:after {
  content: '\21C0';
  font-weight: 900;
  font-family: sans-serif;
  color: var(--white);
  position: absolute;
  top: 55%;
  right: 1.5rem;
  transform: translateY(-50%);
}

.faq-section a ~ a {
  margin-top: .7rem;
}


/* ============================== */
/* REFERENCE SECTION */
/* ============================== */
.references-section {
  margin-top: 5rem;
  padding-bottom: 5rem;
}

.logo-img {
  width: 76px;
}

.references-section--content {
  margin-top: 1.8rem;
  display: grid;
  grid-template-columns: 2fr 1fr;

}

.references-section--content li ~li{
  margin-top: .7rem;
}

footer {
  padding: 1rem 1.5rem;
  background-color: var(--primary);
  color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.footer-links {
  display: flex;
  align-items: center;
  align-content: center;
}

.footer-links a ~ a {
  margin-left: 1.5rem;
}
