
:root {
  /* Fonts */
  --ffh: 'Roboto',   serif;
  --ff: 'Belgrano',  serif;
  --logo: 'Lobster', serif;

  /* Weights */
  --fw-h1: 600;
  --fw-h2: 600;
  --fw-h3: 900;
  --fw-h4: 900;

  /* Sizes */
  --size-1: 2rem;
  --size-2: 1.65rem;
  --size-3: 1.125rem;
  --size-4: 0.9375rem;
  --size-0: 1.1rem;
  --section-margin: 3rem;

  /* Palette */
  --bg: hsl(342 32% 92% / 1);
  --white: hsl(340 30% 96% / 1);
  --primary: hsl(205 85% 24% / 1);
  --accent: hsl(184 77% 48% / 1);
}

body {
  background: var(--bg);
  color: var(--primary);
}

h1, h2, 
h3, h4,
p, a {
  line-height: 1.2;
  letter-spacing: 0.053rem;
}

h1,h2,h3,h4 {
  text-transform: uppercase;
}

h1 {
  font-family: var(--ffh);
  font-size: var(--size-1);
  font-weight: var(--fw-h1);
}

h2 {
  font-family: var(--ffh);
  font-size: var(--size-2);
  font-weight: var(--fw-h2);
}

h3 {
  font-size: var(--size-3);
  font-family: var(--ffh);
  font-weight: var(--fw-h3);
}

h4 {
  font-size: var(--size-4);
  font-family: var(--ffh);
  font-weight: var(--fw-h4);
}

p, a, li {
  font-family: var(--ff);
  font-size: var(--size-0);
}

.wrapper {
  margin-inline: auto;
  width: min(85%);
}

.center {
  margin-inline: center;
  text-align: center;
}

.row {
  display: flex;
  flex-direction: row;
}

/* 
 * ###############################
 * #      TABLE OF CONTENTS      #
 * ############################### 
 * 1. HERO SECTION
 */

/* HERO SECTION */
section {
  margin-top: var(--section-margin);
}

.hero-section--title span {
  font-weight: 500;
}

.hero-section--content {
  margin-top: 1.2rem;
}

.hero-section--cta {
  display: block;
  margin: 2.5rem auto ;
  padding: .5em 1.3em;
  width: 80%;
  border-radius: 6rem;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
  font-weight: var(--fw-h4);
  background-color: var(--accent);
}

.summary-section {
  --skew: skew(0deg, -4deg);

  position: relative;
  overflow-x: clip;
  padding: var(--section-margin) 0;
  color: var(--white);
  isolation: isolate;
}

.summary-section::before {
  content: '';
  position: absolute;
  width: 100%;
  inset: 0;
  transform: var(--skew);
  z-index: -1;
  background-color: var(--primary);
}

.summary-section--content {
  margin-top: 2rem;
  display: flex;
}

.summary-section--content ol {
  list-style-type: lower-alpha;
  padding-left: 1.5rem;
}

.summary-section--content li ~ li {
  padding-top: .5em;
}

/* ============================== */
 /* DEFINITION SECTION */
/* ============================== */
.definition-section {
  margin-top: -1rem;
  padding: 5.5rem 0 4rem 0;
  background-color: var(--white);
}

.definition-section p {
  margin-top: 1rem;
}

.definition-section img {
  margin-top: 1rem;
}
